/testeCarrinhoDeCompra.class
/testeRelatorioPorOrdemAlfabetica.class
/testeRelatorioPorPrecoIngrediente.class
/testeRelatorioPorPreco.class
/TesteValorTotalEQuantidadeItens.class
/testeCategoria.class
